{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Ben Limo</title>

    <!-- Bootstrap core CSS -->
    <link href="static/website/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="static/website/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/website/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="static/website/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/website/css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">My Resume</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/website/img/profile2.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contactMe">Contact Me</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Benson
            <span class="text-primary">Limo</span>
          </h1>
          <div class="subheading mb-5"> P.o. Box 20895-00202 Nairobi · mobile· +254727344570·
            <a href="mailto:bensokiplimo@gmail.com">bensokiplimo@gmail.com</a>
          </div>
          <p class="mb-5">Focused and diligent Maths and Computer Science graduate with appreciable knowledge and experience in Web technology, database administration and Computer/Telecommunication networks. I am passionate about technology advancement and AI with a concentration in Networking and bot development.</p>
          <ul class="list-inline list-social-icons mb-0">
            <!-- <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> -->
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/benson-limo-15082015b">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Ben-Limo/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Intern</h3>
              <div class="subheading mb-3">Telkom Kenya, Nairobi</div>
              <p>
                Monitoring and providing solutions for site failures and functionality problems.<br>
            
                Checking and updating on fiber cable failures and resolves. Also ensuring that the servers were in optimum conditions.<br>

                Setting up computers and floor networks. I also visited sites to learn on the upgrades to 4G.<br>
            </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Feb – April, 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Intern</h3>
              <div class="subheading mb-3">ICT Authority, Nairobi</div>
              <p>
                Setting up and managing the floor network topology and the LAN.<br>
                Attending synergy meeting and noting agendas and important calendar days essential for when I preparing monthly newsletter.<br>
                Updating the ICT Authority website with the ever changing information and content for public awareness.<br>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Nov – Jan, 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Intern</h3>
              <div class="subheading mb-3">Safaricom, Nairobi</div>
              <p>
                Provide IT solution and schematics to be deployed on the clients infrastructure (Ceragon,Wimax or fiber) to facilitate voice over IP calls or emails in all their branch offices.<br>
                Provided Mpesa API solutions for clients in their business models. That is via VPN (internetor MPLS).<br>
            </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">July – Sept, 2015</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Intern</h3>
              <div class="subheading mb-3">Kenic, Nairobi</div>
              <p>
                Administering the dot KE domain name space.<br>
                Updating the Kenic website with content and crucial information for the public awarenessabout top registrars providing the dot KE domain.<br>
                Set up computers and floor networks as well as diagnosing and troubleshooting network errors.<br>
                Participated in the ongoing Africa Top-Level-domain (TLD).<br>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June – July, 2015</span>
            </div>
          </div>

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Multimedia University, Nairobi</h3>
              <div class="subheading mb-3">Bachelor of Science</div>
              <div>Maths and Computer Science - major in Pure Mathematics</div>
              <p>Second class honors</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September, 2012 – October, 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">High School</h3>
              <div class="subheading mb-3">Meru School</div>
              <p>KCSE: A-</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">February, 2008 - November 2011</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-jquery"></i>
            </li>
<!--             <li class="list-inline-item">
              <i class="devicons devicons-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-less"></i>
            </li> -->
            <li class="list-inline-item">
              <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-wordpress"></i>
            </li>
<!--             <li class="list-inline-item">
              <i class="devicons devicons-grunt"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-gulp"></i>
            </li>
          -->   <li class="list-inline-item">
              <i class="devicons devicons-npm"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Responsive Design</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Browser Testing &amp; Debugging</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Functional Teams</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a web developer, I am huge travelling enthusiast and sports fan especially football. I play for a local club in my home town during the occasional visit I make there. </p>
          <p class="mb-0">When forced indoors, I follow most of the popular American tv show and local movies. I also enjoy reading novels and life empowering books that will inspire you.</p><br>
          <p class="mb-0">On the sideshow you can interact with my assistant a cool telegram bot that will be glad to say hi back and fill you in on my extra works. <strong><a href="https://t.me/Tuweibot">click here</a></strong></p>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Awards &amp; Certifications</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              CISCO-CNNA1 Certificate - Strathmore University</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              CISCO-CNNA2 Certificate - Strathmore University</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Basic Digital skills training sponsored by Google and eMobilis.</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              ICDL Certificate - IAT</li>
            <!-- <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              2<sup>nd</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
            <li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - James Buchanan High School - Hackathon 2006</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              3<sup>rd</sup>
              Place - James Buchanan High School - Hackathon 2005</li> -->
          </ul>
        </div>
      </section>

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contactMe">
            <div class="my-auto">
              <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
              <h2 class="mb-5">Leave a Message</h2>

              {% if errors %}
              {{ errors }}
              {% endif %}
              
              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}

              <form method="POST"> {% csrf_token %}
                {{ form|crispy }}
                  <button type="submit" class="btn btn-default">Submit</button>
              </form>
              </div>
            </div>
            </div>
      </section>


    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'website/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'website/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- <script src="static/website/vendor/jquery/jquery.min.js"></script>
    <script src="static/website/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <script src="{% static 'website/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- <script src="static/website/vendor/jquery-easing/jquery.easing.min.js"></script> -->

    <!-- Custom scripts for this template -->
    <script src="{% static 'website/js/resume.min.js' %}"></script>
   <!--  <script src="static/website/js/resume.min.js"></script> -->

  </body>

</html>
